/* doctorDashboard.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 50px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
}

#sidebar ul li a:hover {
    background-color: #555;
    border-radius: 15px;
}

#content {
    margin-left: 250px;
    padding: 20px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    #sidebar {
        width: 150px;
    }
    
    #content {
        margin-left: 150px;
    }
}

/* Styles for Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Button Styles */
button {
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Input Styles */
input[type="hidden"] {
    display: none;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
}

/* Responsive Toggle Menu */
#menu-toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    #sidebar {
        left: -150px;
    }
    
    #content {
        margin-left: 0;
    }
    
    #menu-toggle {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        background-color: #333;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
    }
}


    /* Style for the search input */
    #searchInputPatients, #searchInputReports, #searchInputAppointments{
        padding: 8px 12px; /* Adjust padding as needed */
        border: 1px solid #ccc; /* Border color */
        border-radius: 4px; /* Rounded corners */
        font-size: 16px; /* Font size */
        width: 300px; /* Width of the input field */
        margin-bottom: 20px; /* Margin bottom for spacing */
    }

    /* Style for the placeholder text */
    #searchInputPatients, #searchInputReports, #searchInputAppointments::placeholder {
        color: #999; /* Placeholder text color */
    }

    /* Style for the input when it has focus */
    #searchInputPatients, #searchInputReports, #searchInputAppointments:focus {
        outline: none; /* Remove default focus outline */
        border-color: #66afe9; /* Border color on focus */
        box-shadow: 0 0 5px #66afe9; /* Add a shadow on focus */
    }


    .search-input {
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px; /* Adjust width as needed */
        box-sizing: border-box;
        font-size: 16px;
    }